body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-family: "waltograph";
    font-size: 1.2em;
}

.y{
    display: flex;
    flex-direction: row;
    
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
}


.size {
    width: 200px;
    height: 200px;
    margin-left: 1%;
}

.kl1{
    background-color: blue;
}

.kl2{
    background-color: aqua;
}

.kl3{
    background-color: blueviolet;
}


.kl5{
    background-color: rgb(74,27,228);
}

.kl6{
    background-color: rgb(53,244,0);
}

.kl7{
    background-color: rgb(8,243,246);
}

.kl8{
    background-color: #ECF608 ;
}

.kl9{
    background-color: #F60808;
}

.kl10{
    background-color: #E408F6;
}

.pil{
    font-size: 3em;
}

.pal{
    font-size: 1.3em;
}

.pol{
    font-size: 1.5em;
}

.ko{
    font-size: 3em;
}