body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(../img/1209629);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.login-box {
    padding: 20px;
    background: rgba(138, 135, 135, 0.849);
    border-radius: 30px;
}

option {
    
}

.lol {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 400px;
    align-items: center;
}


.boton > input {
    margin-top: 20px;
    background-color: rgb(70, 67, 67);
    line-height: 55px;
    font-size: 1.3em;
    font-weight: 900;
    border: none;
    border-radius: 20px;
}

.boton {
    display: flex;
    justify-content: center;
}
