h1{
    font-family:'Shadows Into Light' ;
    font-size: 3em; /* 42px */
    justify-content: center;
    display: flex;
}

.tam-font-2em {
font-size: 2em; /*32px / 2.5 = 40px */
}

.tam-font-4em {
    font-size: 4em; /* 64px */
}