* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: 1s all;
}

body {
  background: url(../img/1209629);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
}

.lateral {
  width: 230px;
  height: 100vh;
  border: 1px solid rgba(128, 128, 128, 0.191);
  background-color: rgba(54, 56, 56, 0.425);
}

.lateral.close {
  width: min-content;
  overflow-y: hidden;
}

.lateral.close > ul > li > p {
  display: none;
}

.lateral > .btn-menu {
  padding: 15px;
}

.lateral > .btn-menu > i{
  padding: 10px;
  font-size: 1.2em;
}

.lateral > .btn-menu > i:hover {
  background-color: gray;
  transition: 1s all ease;
  color: rgb(233, 233, 233);
  border-radius: 5px;
}

.lateral > ul > li {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.lateral > ul > li > i {
  color: rgb(253, 253, 253);
}

.lateral > ul > li > p {
  font-size: 14px;
}

li:hover {
  background-color: rgba(109, 109, 109, 0.322);
  transition: all 3;
  cursor: pointer;
}
