*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(../img/805233.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

.bar-menu{
    color: rgb(255, 255, 255);
    font-size: 2.2em;
    position: absolute;
    visibility: hidden;
    top: 20px;
    left: 30px;
    cursor: pointer;
}
.main-nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(68, 67, 67, 0.226);
    height: 90px;
}
.main-menu{
    list-style: none;
    text-align: right;
    font-family: 'Caveat', cursive;
}
a{
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
}
.gym{
    height: 81px;
    display: inline-block;
    padding: 27px 50px;
}
li:hover{
    cursor: pointer;
    background-color: rgba(66, 66, 66, 0.342);
}
p{
    margin: 12px 60px;
    text-align: justify;
    font-size: 1.6em;
    line-height: 1.3em;
}
@media only screen and (max-width:1152px) {
    /*.main-menu{
        background-color: rgb(96, 96, 96,.9);
        margin-top: 81px;
        padding: 0;
    }*/
    .main-nav{
        height: 80px;;
    }
    .main-menu{
        display: none; 
    }
    .main-menu-visible{
        display: block;
        background-color: rgba(39, 37, 37, 0.658);
        /* margin-top: 81px; */
        padding: 0;
    }
    .gym{
        width: 100%;
        display: block;
        text-align: center;
        visibility: visible;
        border-bottom: 1px solid rgba(34, 33, 33, 0.575);
        line-height: 80px;
        padding: 0;
        padding-top: 80px;
    }
    a:hover{
        background-color: rgba(0, 0, 0, 0.9);
    }
    .bar-menu{
        visibility: visible;
    }

}

.pop {
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

img {
    position: absolute;
    left: 190px;
    top: 0;
    padding-bottom: 60px;
}






